<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018559916657-h2m8v9v1id44650h52lnvchs6j7hq7ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018559916657-h2m8v9v1id44650h52lnvchs6j7hq7ob</string>
	<key>API_KEY</key>
	<string>AIzaSyAKajTaIZsx_MiW5TLbnOxjCva2PY1IfwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1018559916657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atcumt.login</string>
	<key>PROJECT_ID</key>
	<string>wifiusercount</string>
	<key>STORAGE_BUCKET</key>
	<string>wifiusercount.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018559916657:ios:fd8dda4ac94457ef09c9d0</string>
</dict>
</plist>